* {
  background-color: black;
  font-family: Helvetica;
  /* font-size: 22px; */
  color: seashell;
  opacity: 0.9;
  text-align: center;
  /* border: 1px solid white; */
}

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  z-index: 10;
  top: 0;
}

.header_logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 300px;
  margin-left: 10px;
}

.header_logo img {
  height: 50px;
}

.header_navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 15px;
}

.header_navbar span{
  display: inline-block;
  margin: 0 15px;
  white-space: nowrap;
}

.title-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../Images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin: 75px auto 0px auto;
}

/* .title_imagecontainer {
  text-align: center;
} */

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
}

.content_headline {
  width: 100%;
  /* text-align: center; */
}

.content_item {
  margin: 0 12.5px;
}

.content_item img {
  width: 300px;
  height: 200px;
}

.content_item h4 {
  margin-top: 10px;
}

footer {
  margin-top: 50px;
}

.locations {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../Images/img-locations-background.jpg");
  height: 540px;
  width: 1200px;
  margin: 0 auto;
}

.locations_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: transparent;
}

.locations_container_headline {
  background-color: transparent;
  width: 100%;
}

.locations_container_headline h1{
  background-color: transparent;
  margin-bottom: 15px;
}

.locations_container_item {
  opacity: 1;
  margin: 0 20px;
  width: 300px;
}
.locations_container_item h2 {
  padding: 10px 0;
}
.locations_container_item h3 {
  padding: 10px 0;
}
.locations_container_item h4 {
  padding: 10px 0;
}
