* {
  background-color: black;
  font-family: Helvetica;
  /* font-size: 22px; */
  color: seashell;
  opacity: 0.9;
}

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  z-index: 10;
}

.header_logo {
  flex-basis: 300px;
  margin-left: 10px;
}

.header_logo img {
  height: 50px;
}

.header_navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 15px;
}

.header_navbar span{
  display: inline-block;
  margin: 0 15px;
  white-space: nowrap;
}

.title {
  position: relative;
  top: 69px;
}

.title_imagecontainer {
  background-image: url("../Images/img-mission-background.jpg");
}

.content {
  position: relative;
  top: 69px;
}

.content_container_item img {
  width: 300px;
  height: 200px;
}
